{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Profil {% endblock %}

{% block body %}
    <h1>Mon profil</h1>

    {{ form_start(formProfil) }}
    {{ form_widget(formProfil) }}
        <button type="submit" class="btn btn-success">
        {{ btnLabel|default('Modifier') }}
        </button>
    {{ form_end(formProfil) }}

{% endblock %}
