{% extends 'base.html.twig' %}

{% block title %}{{ parent () }}{% endblock %}


{% block body %}

    <div class="confirmation-message" class="confirmation-message.slide-out"
         class="bouncing" class="sliding"></div>

    <div class="tears-container"></div>

    <div class="container_accueil">
    <div><i class="fa-regular fa-calendar"></i> {{ "now"|date_modify('+1 hour')|date('d/m/y à H:i:s') }}</div>
         {%  if app.user %}
            <div>Bonjour  {{ app.user.pseudo }} <i class="fa-sharp fa-regular fa-face-smile"></i></div>
        {% else %}
            <div>Bonjour !</div>
        {%  endif %}
    </div>


    <div>
        <h2><i class="fa-solid fa-user-secret"></i></h2>
        {{ form_start(form) }}
        {{ form_row(form) }}
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        {{ form_end(form) }}

    </div>



    <h2>Liste des sorties</h2>


    <table>
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Date de clôture d'inscription</th>
            <th>Inscrits/Places</th>
            <th>État</th>
            <th>Motif annulation</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}

            <tr style="width: 300px;">
                <td style="width: 200px; height: 100px">{{ sortie.nom }}</td>
                <td style="width: 200px; height: 100px">{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
                <td style="width: 200px; height: 100px">{{ sortie.dateLimiteInscription|date('d/m/Y H:i') }}</td>
                <td style="width: 200px; height: 100px">{{ sortie.participants.count }} / {{ sortie.nbInscriptionsMax }}</td>
                <td style="width: 200px; height: 100px">{{ sortie.etat.libelle }} </td>

                {% if sortie.motifAnnulation %}
                    <td style="width: 200px; height: 100px">{{ sortie.motifAnnulation }}</td>
                {%  else %}
                    <td style="width: 200px; height: 100px"> </td>
                {%  endif %}

                {% if app.user in sortie.participants %}
                    <td style="width: 200px; height: 100px">X</td>
                {% else %}
                    <td style="width: 200px; height: 100px"> </td>
                {% endif %}
                <td style="width: 200px; height: 100px;">
                    <a href="{{ path('app_profil', {'id': sortie.organisateur.id}) }}"> {{ sortie.organisateur.nom }}</a>
                </td>
                <td style="width: 200px; height: 100px">
                        {% if app.user and sortie.organisateur == app.user %}
                        {% if sortie.dateHeureDebut|date('Y-m-d H:i:s') > 'now'|date('Y-m-d H:i:s') and sortie.etat.libelle not in ['annulee']%}
                                <a href="{{ path('app_editSortie', {'id':sortie.id}) }}" class="button"><i class="fa-solid fa-pen-to-square"></i></a>
                        {% endif %}
                        {% endif %}
                        {% if app.user and (sortie.organisateur == app.user or 'ROLE_ADMIN' in app.user.roles) %}
                        {% if sortie.dateHeureDebut|date('Y-m-d H:i:s') > 'now'|date('Y-m-d H:i:s') and sortie.etat.libelle not in ['annulee']%}
                            <a href="{{ path('app_annuler_sortie', {'id':sortie.id}) }}" class="button"><i class="fa-solid fa-trash"></i></a>
                        {% endif %}
                        {% endif %}

                        {% if sortie.dateLimiteInscription|date('Y-m-d H:i:s') > 'now'|date('Y-m-d H:i:s') and sortie.etat.libelle in ['creee']
                        and sortie.organisateur == app.user %}
                                <button class="btn-publicationSortie" data-sortie-id="{{ sortie.id }}"><i class="fa-solid fa-book-open"></i></button>
                        {%  endif %}

                        {% if app.user %}
                        {% if sortie.etat.libelle not in ['creee', 'cloturee'] %}
                            <button>
                                <a href= "{{ path('app_detail', {'id':sortie.id}) }}" class="button" ><i class="fa-solid fa-eye"></i></a>
                           </button>

                        {% endif %}
                        {% if not sortie.participants.contains(app.user) and sortie.participants.count() < sortie.nbInscriptionsMax
                            and sortie.dateLimiteInscription|date('Y-m-d H:i:s') > 'now'|date('Y-m-d H:i:s')
                            and sortie.etat.libelle in ['ouverte']%}
                            <button class="btn-inscriptionSortie" data-sortie-id="{{ sortie.id }}"><i class="fa-solid fa-plus"></i></button>
                        {% endif %}
                        {% if sortie.participants.contains(app.user) and sortie.dateHeureDebut|date('Y-m-d H:i:s')>= 'now'|date('Y-m-d H:i:s') %}
                            <button class="btn-desistementSortie" data-sortie-id="{{ sortie.id }}"><i class="fa-solid fa-minus"></i></button>
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                        <button>
                            <i class="fas fa-thumbs-up"></i>
                        </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button>
        <a href="{{ path('app_createSortie') }}" class="button"><i class="fa-sharp fa-solid fa-pen-nib"></i></a>
    </button>
{% endblock %}

