<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sortir.com{% endblock %}</title>
    {% block stylesheets %}
        <!-- Insertion de votre feuille de style -->
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        <!-- Bootstrap CSS pour un design réactif et moderne -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% endblock %}
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
<header class="mb-4">
    <!-- Barre de navigation Bootstrap -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('app_home') }}">
            <img src="{{ asset('images/sortir.jpg') }}" alt="Sortir.com" height="80">
        </a>
        <ul>
            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="">Villes</a>
                </li>
                <li>
                    <a href="">Campus</a>
                </li>
            {% endif %}
            <li>
                <a href="{{ path('app_home') }}">Accueil</a>
            </li>

            {% if app.user %}
                <li>
                    <a href="{{ path('app_mon_profil', {'id' : app.user.id}) }}">Mon profil</a>
                </li>
            {% endif %}

            {% if app.user %}
                <li>
                    <a href="{{ path('app_logout') }}">Se déconnecter</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('app_login') }}">Se connecter</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <!-- Alertes flash -->
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} text-center">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
</header>

<main role="main" class="container">
    {% block body %}
        <!-- Contenu de la page -->
    {% endblock %}
</main>

<footer class="footer bg-dark text-white text-center py-3">
    <div>&copy; {{ "now"|date_modify('+1 hour')|date('Y') }} Sortir.com</div>
</footer>

<!-- Optionnel : jQuery et Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.11/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
